node_modules/
.env
auth/
src/assets/auth/
src/assets/auth-lenoz/
temp/
*.log
personal-mode*.log
src/api/tiktok-api/venv/
src/api/tiktok-api/**/__pycache__/
src/api/tiktok-api/**/*.py[cod]
src/api/tiktok-api/*.log
src/api/tiktok-api/.env
